# Entornos virtuales
.venv/
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# Logs
logs/
*.log

# Archivos temporales
*.tmp
*.bak

# Archivos generados
dist/
build/
*.zip
